@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-Black.ttf');
    font-weight: 900;
}


html {
    font-family: 'Montserrat' !important;
}

.home-banner {

    background: linear-gradient(to top, rgba(228,221,221, 0.50) 10%, rgba(0,0,0, 0.80 ) 50%), 
                url('./assets/bgimage4.jpg') no-repeat right top;
    background-size: cover;

}

.service-banner {

    background: linear-gradient(to top, rgba(228,221,221, 0.50) 10%, rgba(0,0,0, 0.80 ) 90%), 
                url('./assets/plomberie1.jpg') no-repeat right top;
    background-size: cover;

}

.about-us {
    background: linear-gradient(to top left, rgba(228,221,221, 0.10) 10%, rgba(0,0,0, 0.80 ) 50%), 
                url('./assets/bgimage3.jpg') no-repeat center top;
    background-size: cover;
}

.form-banner {
    background: linear-gradient(to top left, rgba(228,221,221, 0.10) 10%, rgba(0,0,0, 0.60 ) 50%), 
                url('./assets/bgimage7.jpg') no-repeat center top;
    background-size: cover;
}

.formservice-banner {
    background: linear-gradient(to top left, rgba(228,221,221, 0.10) 10%, rgba(0,0,0, 0.60 ) 100%), 
                url('./assets/plomberie2.jpg') no-repeat center top;
    background-size: cover;
}